---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "variables";

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

// Import my own partials
@import "home";
@import "blog";
@import "post";
@import "non-excerpt";
@import "project";
@import "widgets";
//@import "syntax_style";

html, body {margin:0;padding:0;height:100%;}

// body
body {
	background-color: $dark-green-color;
}
.page-content {
	padding: 150px 0 0;
	background-color: white;
}

// navbar
.navbar-default {
	background-color: rgba(255, 255, 255, 0.9);
	border-color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid $dark-green-color;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	border-bottom: 3px solid $light-green-color;
}
.navbar-default .navbar-brand {
	font-family: 'Rock Salt', cursive;
}
#special>a {
	color: #eeeeee; 
	background-color: $dark-green-color; 
	border-bottom: 3px solid $dark-green-color;
}
#special.active>a {
	border-bottom: 3px solid $light-green-color;
}
.category {
	a {
		color: $grey-color !important;
		padding-left: 40px !important;
		
		span:nth-child(2) {
			color: white;
			background-color: lighten($grey-color, 20);
			display: inline-block;
			float: right;
			border-radius: 50%;
			height: 20px;
			width: 20px;
			text-align: center;
		}
	}
}

// footer
footer {
	padding: 30px 0;
	background-color: rgba($dark-green-color, 0.9);

	.footer-link {
		margin-top: 10px;
		margin-bottom: 10px;
		&>a {
			color: $light-green-color;
			text-decoration: none;
		}
		.username {
			margin-left: 5px;
		}
	}
	.footer-copy-right {
		color: rgba(255, 255, 255, 0.8);
		margin-top: 10px;
	}
	.footer-link, .footer-copy-right {
		text-align: center;
	}
}

// under_construction & no_post
.under-construction, .no-post {
	.alert-emoji {
		font-size: 108px;
		color: $grey-color-light;
		margin-bottom: 30px;
		font-family: 'Scope One', serif;
	}
	.msg {
		font-size: 26px;
		font-family: $big-title-font;
		color: $grey-color-dark;
		margin-bottom: 150px;
		padding: 0px 40px;
	}
}

// assets
footer .icon>img {
	width: 20px;
	height: 20px;
}
