<h1 class="title-text">
	{% if page.subtitle and page.subtitle != "" %}{{ page.subtitle }}
	{% else %}{{ page.title }}
	{% endif %}
</h1>

{% if page.paginate and paginator.posts == nil %}

	{% include no_post.html %}

{% else %}

	{% assign posts = nil %}
	{% if page.paginate and page.paginate == true %}
		{% assign posts = paginator.posts %}
	{% else %}
		{% assign posts = site.categories[page.type] %}
	{% endif %}

	<ul class="post-list">

		{% for post in posts %}

			{% if page.subtitle and page.subtitle == post.categories[1] or page.subtitle == "" %} 
				<li>
					<span class="separator"> • • • </span>
				</li>
				<li class="excerpt">
					<h2>
						<span class="post-category"> 
							{% if post.categories %}
							  {{ post.categories | last }}
							{% endif %}
						</span>
						<a class="post-title" href="{{ post.url | prepend: site.baseurl }}">
						{{ post.title | escape }}
						</a>
					</h2>
					<span class="post-meta"> 
						{{ post.date | date: "%b %-d, %Y" }}
						{% if post.categories %}
						  •  <a href="/{{ page.title | downcase }}/{{ post.categories[1] | slugify }}">{{ post.categories[1] }}</a>
						{% endif %}
						{% if post.author %}
						  •  by {{ post.author }}
						{% endif %}
						  •  <span class="disqus-comment-count" data-disqus-identifier="{{post.url}}">Comment Count</span>
					</span>

					{% if post.prerequisites %}
						<ul class="prerequisites-list">
							{% for prerequisite in post.prerequisites %}

							<li class="prerequisite">
								{{ prerequisite }}
							</li>

							{% endfor %}
						</ul>
					{% endif %}

					{% if post.tags %}
						<ul class="tag-list">
							{% for tag in post.tags %}

							<li class="tag-pin tag">
								<a href="/{{ page.type | downcase }}/tags/#{{tag | slugify}}-non-excerpt">{{tag}}</a>
							</li>
							
							{% endfor %}
						</ul>
					{% endif %}

					<div class="excerpt-content">
						{{ post.excerpt }}
					</div>

				</li>
			{% endif %}
		{% endfor %}
	</ul>

	{% if page.paginate %}
		{% include widgets/pagination.html %}
	{% endif %}
{% endif %}
