{% if page.paginate and paginator.posts == nil %}

	{% include no_post.html %}

{% else %}
	<ul class="project-list">

		{% assign posts = nil %}
		{% if page.paginate and page.paginate == true %}
			{% assign posts = paginator.posts %}
		{% else %}
			{% assign posts = site.posts %}
		{% endif %}

		{% assign mapping_bg = site.data.mapping_bg %}
		{% for project in posts %}
			{% if project.categories[0] == "Project" %}
				<li class="project-cell">
					{% if project.image_url %}
						<div class="bg" style="background: white url('{{project.image_url}}') no-repeat center center; background-size: cover;"></div>
					{% else %}
						{% if project.background_color %}
							<div class="bg" style="background-color: {{project.background_color}};"></div>
						{% else %}
							<div class="bg" style="background-color: white;"></div>
						{% endif %}
					{% endif %}
					<div class="content">
						{% if project.text_color %}
							<div class="text-panel" style="color: {{project.text_color}}">
						{% else %}
							<div class="text-panel">
						{% endif %}
							<h1 class="text-panel-title">
								{% if project.link %}
									<a href="{{link}}"  target="_blank">
										<span class="icon icon-github">
											<img src="/assets/svg/github-logo.svg" alt="GitHub Logo">
										</span>
									</a>
								{% endif %}
								<a href="{{project.url}}" target="_blank">{{ project.title }}<span> | {{ project.date | date: "%b %-d, %Y" }}</span></a>
							</h1>
							<div class="text-panel-desc">{{ project.excerpt }}</div>
						</div>
					</div>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endif %}