@media screen and (max-width: 900px) {
	body main.blog {
		padding: 120px 60px;
		.title-text { 
			font-size: 56px;
			margin-bottom: 50px;
		}
		.post-list {
			.ignore-excerpt {
				.tag-container {
					//display: block;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	body main.blog {
		padding: 100px 30px;
		.title-text { 
			font-size: 46px;
			margin-bottom: 40px;
		}
	}
}

body .blog {
	padding: 150px 60px;
}
.blog {

	.separator {
		color: $grey-color-light;
		font-size: 20px;
	}

	.title-text {
		font-size: $big-title-font-size;
		font-family: $big-title-font;
		color: $light-green-color;
		margin-bottom: 80px;
		padding: 0px 40px;
	}

	.blog-main-page, .tutorial-main-page, .category-main-page {
		.post-list {
			padding: 0px 60px;
		}
	}

	.post-list {
		.excerpt, .ignore-excerpt {
			margin: 50px 0;

			h2 {
				margin: 30px 0 10px;
				display: block;
			}
			.post-title, .post-category {
				color: $dark-green-color;
				text-decoration: none;
				font-size: 36px;
				font-family: $post-list-title-font;
				margin-right: 50px;
			}
			.post-category {
				padding: 0 15px 0 0;
				margin-right: 30px;
				color: $light-green-color;
				background-color: white;
				border-right: 2px solid $light-green-color;
			}
			.post-meta {
				margin-right: 50px;
				font-size: 20px;
				font-family: $meta-font;
				color: $grey-color;
				a {
					color: $grey-color-dark;
				}
			}
			.excerpt-content {
				margin-top: 20px;
			}
			p {
				font-family: $p-font;
				font-weight: 100;
				font-size: 18px;
				line-height: 40px;
				color: black;
			}
		}
		.ignore-excerpt {
			.post-meta {
				margin: 20px 0;
				font-size: 14px;
			}
		}
	}
	.tag-list, .prerequisites-list {
		display: inline-block;
		list-style: none;
		margin: 0 0 5px;
		li {
			font-family: $post-font;
			font-size: 14px;
		}
		.tag {
			color: white;
			background-color: rgba($dark-green-color, 0.8);
			border-radius: 0 8px 8px 8px;
			margin: 3px 5px 3px 0;
			display: inline-block;
			padding: 3px 9px;
		}
		.prerequisite {
			color: rgba($dark-green-color, 0.8);
			border-radius: 0 8px 8px 8px;
			border: 2px solid rgba($dark-green-color, 0.8);
			padding: 3px 9px;
			margin: 3px 5px 3px 0;
			display: inline-block;
		}
	}
	.tag-pins, .tag-list {
		.tag-pin a{
			text-decoration: none;
			color: white;
			&:hover {
				color: $light-green-color;
			}
		}
	}

}
