@mixin filter($attr) {
	-webkit-filter: $attr;
	-moz-filter: $attr;
	-o-filter: $attr;
	-ms-filter: $attr;
	filter: $attr;
}
@mixin transition-duration($duration) {
	-webkit-transition-duration: $duration; /* Safari */
	transition-duration: $duration;
}

body .home {
	padding-top: 0;
}

@import "home/thumbnail";
@import "home/about";
@import "home/cv";




