$light-green-color: #91DC5A;
$dark-green-color: #33691E;

$big-title-font: 'Muli', sans-serif;
$small-title-font: 'Space Mono', monospace;
$p-font: 'Hind', sans-serif;
$chinese-font: 'Microsoft YaHei', '微软雅黑', sans-serif;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$highlight-color: #FFC107;

//font-family: 'Muli', sans-serif;
//font-family: 'Inconsolata', monospace;
//font-family: 'Source Code Pro', monospace;
//font-family: 'Rock Salt', cursive;
//font-family: 'Antic Slab', serif;
//font-family: 'Space Mono', monospace;

@mixin filter($attr) {
	-webkit-filter: $attr;
	-moz-filter: $attr;
	-o-filter: $attr;
	-ms-filter: $attr;
	filter: $attr;
}
@mixin transition-duration($duration) {
	-webkit-transition-duration: $duration; /* Safari */
	transition-duration: $duration;
}

body .home {
	padding-top: 0;
}

@import "home/thumbnail";
@import "home/about";
@import "home/cv";




