$text-color:       #f8f8f8;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$light-green-color: #91DC5A;
$dark-green-color: #33691E;
$non-excerpt-green-color: #64DD17;

$big-title-font: 'Rock Salt', cursive;
$small-title-font: 'Poiret One', cursive;
$post-title-font: 'Rajdhani', sans-serif;
$meta-font: 'Scope One', serif;
$p-font: 'Source Code Pro', monospace;
$chinese-font: 'Microsoft YaHei', '微软雅黑', sans-serif;

@media screen and (max-width: 900px) {
	body .non-excerpt-page {
		.non-excerpt-post-list .non-excerpt-title {
			a {
				font-size: 46px;
			}
		}
		.title-text {
			padding: 0;
		}
	}
}

@media screen and (max-width: 600px) {
	body .non-excerpt-post-list .non-excerpt-title {
		a {
			font-size: 46px;
		}
	}
}

body .blog .non-excerpt-post-list .separator {
	color: $non-excerpt-green-color;
}

.non-excerpt-post-list {
	.non-excerpt-post-title-list {
		padding: 30px 40px;
		.non-excerpt-title {
			text-align: center;
			font-size: 56px;
			color: $non-excerpt-green-color;
			font-family: $small-title-font;
			a {
				color: $non-excerpt-green-color;
				text-decoration: none;
			}
			a:hover {
				color: $dark-green-color;
			}
		}
		.ignore-excerpt {
			.post-meta {
				margin: 5px;
			}
			.tag-list, .post-title-container {
				//height: 45px;
				display: inline-block;
				.tag {
					margin: 0;
					padding: 3px 9px;
					font-size: 14px;
				}
			}
			div:first-child {
				vertical-align: middle;
			}
			.post-title-container h2 {
				margin: 0;
			}
		}
		&:nth-child(even) {
			background-color: rgba($light-green-color, 0.4);
		}
	}
}