@media screen and (max-width: 900px) {
	body .non-excerpt-page {
		.non-excerpt-post-list .non-excerpt-title {
			a {
				font-size: 46px;
			}
		}
		.title-text {
			padding: 0;
		}
	}
}

@media screen and (max-width: 600px) {
	body .non-excerpt-post-list .non-excerpt-title {
		a {
			font-size: 46px;
		}
	}
}

body .blog .non-excerpt-post-list .separator {
	color: $non-excerpt-green-color;
}

.tag-pins {
	.tag-pin a{
		text-decoration: none;
		color: white;
		&:hover {
			color: $light-green-color;
		}
	}
}

.non-excerpt-post-list {
	.non-excerpt-post-title-list {
		padding: 30px 40px;
		.non-excerpt-title {
			text-align: center;
			font-size: 56px;
			color: $non-excerpt-green-color;
			font-family: $non-excerpt-small-title-font;
			a {
				color: $non-excerpt-green-color;
				text-decoration: none;
			}
			a:hover {
				color: $dark-green-color;
			}
		}
		.ignore-excerpt {
			.post-meta {
				margin: 5px;
			}
			.tag-list, .post-title-container {
				//height: 45px;
				display: inline-block;
			}
			div:first-child {
				vertical-align: middle;
			}
			.post-title-container h2 {
				margin: 0;
			}
		}
		&:nth-child(even) {
			background-color: rgba($light-green-color, 0.4);
		}
	}
}