.post {
	padding: 150px 70px !important;

	.separator {
		margin: 20px 0 0;
		display: block;
		color: $grey-color-light;
		font-size: 20px;
	}

	.tag-list, .prerequisites-list {
		list-style: none;
		margin: 0 0 5px;
		li {
			//font-family: $post-font;
		}
		.tag {
			color: white;
			background-color: rgba($dark-green-color, 0.8);
			border-radius: 0 8px 8px 8px;
			padding: 5px 15px;
			margin-right: 5px;
			display: inline-block;
		}
		.prerequisite {
			color: rgba($dark-green-color, 0.8);
			border-radius: 0 8px 8px 8px;
			border: 2px solid rgba($dark-green-color, 0.8);
			padding: 3px 13px;
			margin-right: 5px;
			display: inline-block;
		}
	}

	h2.prerequisites-title {
		font-size: 20px;
		font-family: $prerequisite-font;
		color: rgba($dark-green-color, 0.8);
		display: inline-block;
		margin: 10px;
	}
	.prerequisites-list {
		display: inline-block;
		margin-left: 10px;
	}

	.post-article {
		.post-header {
			margin-bottom: 5px;
			.post-title {
				font-family: $post-title-font;
				color: $dark-green-color;
				margin-bottom: 30px;
			}
			.post-meta {
				font-family: $meta-font;
			}
		}
		.post-content {
			margin-top: 40px;
		}
	}

	#disqus_thread {
		margin-top: 80px;
	}
}

