body .about-mycoon .highlight pre {

	padding: 30px 0;
	background-color: white;
	border: 0;
	font-size: 22px;

	code {
		white-space: pre;
	}

	.kd { color: #64DD17; }
	.k { color: #64DD17; }
	.nf { color: $dark-green-color; }
	.nx {color: #3E2723 }
	.p { color: $grey-color-dark; }
	.s1 { color: #FF6F00; }
	.vc { color: $light-green-color;}
}

@media screen and (max-width: 900px) {
	body .highlight pre{
		font-size: 18px;
	}
}

@media screen and (max-width: 600px) {
	body .highlight pre{
		font-size: 16px;
	}
}