.cv {
	min-height: 500px;
	background-color: $light-green-color;

	.content {
		padding: 150px 30px;

		.title-text {
			h1 {
				color: white;
				font-family: $small-title-font;
				font-size: 46px;
				text-align: center;
			}
		}

		.cv-circle {

			position: relative;
			width: 200px;
			height: 200px;
			background: $dark-green-color url('https://avatars1.githubusercontent.com/u/14961882?v=3&s=466') no-repeat center center;
			background-size: cover;
			color: white;
			margin: auto;
			border-radius: 50%;
			z-index: 999;
			cursor: pointer;
			@include transition-duration(0.4s);

			h1{
				display: none;
				font-family: $small-title-font;
				font-size: 40px;
				text-align: center;
				line-height: 200px;
				z-index: 999;
			}

			/*&:hover {
				color: $dark-green-color;
				background: white;

				h1{
					display: block;
				}
			}*/

			&.isClosed {
				position: relative;
				width: 100px;
				height: 100px;
				background: white;
				color: $dark-green-color;
				margin: auto;
				border-radius: 50%;
				z-index: 999;
				@include transition-duration(0.4s);

				&:hover {
					color: white;
					background: $dark-green-color;
				}

				h1{
					display: block;
					line-height: 100px;
				}
			}
		}

		.description {
			margin-top: -100px;
			z-index: -1;
			background-color: white;
			border-radius: 5px;
			padding: 100px 80px;

			// general
			.icon>img {
				width: 40px;
				height: 40px;
			}

			p{
				color: rgba(0, 0, 0, 0.8);
				font-family: $p-font;
				font-size: 26px;
			}

			// specific
			.info {
				margin: 50px 0 0;
				h2 {
					text-align: center;
					font-family: $big-title-font;
					font-size: 40px;
				}
				.contact {
					text-align: center;
					margin: 30px 0 80px;
					.username {
						color: rgba(0, 0, 0, 0.8);
						font-family: $p-font;
						font-size: 24px;
						margin-right: 10px;
					}
					a {
						text-decoration: none;
						margin: 0 10px;
					}
				}
			}

			.timeline {
				.timeline-time {
					height: 50px;
					color: $dark-green-color;
					background-color: rgba($light-green-color, 1);
					border-radius: 5px;
					margin-top: 90px;
					text-align: center;
					p {
						font-size: 20px;
						line-height: 50px;
					}
				}
				.timeline-description {
					color: $dark-green-color;
					min-height: 210px;
					background-color: rgba($light-green-color, 0.5);
					border-radius: 5px;
					padding: 20px;
					//margin-bottom: 15px;

					p.title {
						font-size: 20px;
						font-weight: 800;
						margin: 0;
						span {
							margin-left: 5px;
							font-size: 16px;
							font-weight: 300;
						}
						span.grey-tag {
							background-color: rgba($grey-color-dark, 0.4);
							border-radius: 8px;
							padding: 0 5px;
							margin-right: 5px;
							margin-bottom: 7px;
							display: inline-block;
						}
					}

					.education-description, .non-education-description {
						font-size: 16px;
						margin-top: 5px;
						span.green-tag {
							background-color: rgba($dark-green-color, 0.6);
							border-radius: 8px;
							padding: 0 5px;
							margin-right: 5px;
							margin-bottom: 7px;
							display: inline-block;
						}

						span.orange-tag {
							background-color: rgba($highlight-color, 0.6);
							border-radius: 8px;
							padding: 0 5px;
							margin-right: 5px;
							margin-bottom: 5px;
							display: inline-block;
						}

						/*span.plain-description {
							font-style: italic;
						}*/
					}
				}
				.timeline-circle {
					.icon {
						&>img {
							width: 28px;
							height: 28px;
							margin: 5px auto;
							display: block;
						}
					}
					width: 50px;
					height: 50px;
					border: 6px solid $dark-green-color;
					border-radius: 50%;
					margin: auto;
					cursor: pointer;
				}
				.timeline-line {
					width: 5px;
					height: 90px;
					background-color: rgba($grey-color, 0.4);
					margin: auto;
				}
				.timeline-block {
					&:first-child {
						//border-top: 1px solid rgba($grey-color-dark, 0.4);
						.timeline-line:first-child {
							border-radius: 2px 2px 0 0;
						}
					}
					&:last-child {
						//border-bottom: 1px solid rgba($grey-color-dark, 0.4);
						.timeline-line:last-child {
							border-radius: 0 0 2px 2px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	body main.home .cv .content{
		.description .timeline .timeline-block {
			.timeline-description {
				height: auto;
			}
			.timeline-time {
				margin-top: 20px;
			}
			.timeline-line {
				height: 30px;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	body main.home .cv .content{
		.description .timeline .timeline-block {
			.timeline-description {
				height: auto;
			}
			.timeline-time {
				margin-top: 20px;
				p {
					font-size: 18px;
				}
			}
			.timeline-line {
				height: 20px;
			}
		}
	}
}