{% assign cv = site.data.cv %}
<div class="info">
	{% assign info = cv.info %}
	<h2>{{ info.name }} {{ info.chineseName }}</h2>
	<div class="contact">
		<a href="mailto:rachel5566kk@gmail.com">
			<span class="icon icon-email">
				<img src="/assets/svg/email-logo.svg" alt="Email Logo">
			</span>
			<span class="username">rachel5566kk@gmail.com</span>
		</a>
		<a href="https://github.com/pyliaorachel"  target="_blank">
			<span class="icon icon-github">
				<img src="/assets/svg/github-logo.svg" alt="GitHub Logo">
			</span>
			<span class="username">pyliaorachel</span>
		</a>
		<a href="https://tw.linkedin.com/in/peiyu-liao" target="_blank">
			<span class="icon icon-linkedin">
				<img src="/assets/svg/linkedin-logo.svg" alt="LinkedIn Logo">
			</span>
			<span class="username">Peiyu Liao</span>
		</a>
	</div>
</div>