---
layout: page
class: blog
---
<div class="blog-wrapper">

	<div class="category-page">
		<h1 class="title-text">{{ page.subtitle }}</h1>
		{% assign categories = "" %}
		{% for post in site.posts %}
			{% if post.categories[0] == page.type %}
				{% assign categories = categories | append:post.categories[1] | append:'|' %}
			{% endif %}
		{% endfor %}
		{% assign categories = categories | split:'|' | uniq %}
		<ul class="post-list category-post-list row">
			{% for category in categories %}
				<div class="col-md-4 category-post-title-list" id="{{category | slugify}}-category">
					<li class="category-title">
						<a href="/{{ page.type | downcase }}/{{category | slugify}}">
							<span class="separator"> • • • </span>
							{{ category }}
							<span class="separator"> • • • </span>
						</a>
					</li>
					{% for post in site.posts %}
						{% if category == post.categories[1] %} 
							<li class="ignore-excerpt">
								<div>
									<div class="post-title-container">
										<h2>
											<a class="post-title" href="{{ post.url | prepend: site.baseurl }}">
												{{ post.title | escape }}
											</a>
										</h2>
									</div>
									<ul class="tag-list">
										{% for tag in post.tags %}
											<li class="tag">
												{{ tag }}
											</li>
										{% endfor %}
									</ul>
								</div>
								<div class="post-meta"> 
									{{ post.date | date: "%b %-d, %Y" }}
									{% if post.categories %}  •  {{ post.categories | last }}{% endif %}
									{% if post.author %}  •  by {{ post.author }}{% endif %}
								</div>
							</li>
						{% endif %}
					{%endfor%}
				</div><!-- /.category-post-title-list -->
			{% endfor %}
		</ul><!-- /.row -->
	</div>

</div>
